body{
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: orange;
    color: #ffffff;
    padding:  0 15px;
}

#head-content{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    height: 10vh;
    width: 100%;
    align-items: center;
}

h1{
    font-size:1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #013220;
    padding: 3px;
}

#nav{
    display: none;
}j

#hero-content{
    /* padding: 10px; */
    width: 100%;
    height:fit-content;
}

#left-hero{
    width: 100%;
    height: 50vh;   
}

#right-hero{
    width: 100%;
    height:fit-content;
    padding: 3px;
}

#hero-image{
    object-fit:cover;
    height: 100%;
    width: 100%;
    object-position: top;
}

#welcome-note{
    font-size: 1,2rem;
    font-family: serif;    
    font-weight: bold;

}

#welcome-desc{
    font-weight: bold;
    font-size: 1.2rem;
}

p{
    font-size:normal;
    font-weight: lighter;
    line-height: 2em;
    padding: 5px;
}

#about-page{
    font-weight: lighter;
}

img{
    object-fit:contain;
    height: 100%;
    width: 100%;
    /* padding: 0 8px; */
    /* border-radius: 10px; */

}

h4{
    line-height: 2em;
    font-size: large;
    padding: 10px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    padding: 10px;
    text-align: center;
}

#about-image{
    object-fit:cover;
    height: 50%;
    width: 100%;
    object-position: top;
}

#recipe-list{
    font-size: 1.5rem;
    font-weight: lighter;
    
}

footer{
    background-color:#000000;
    color: #ffffff;
    

}

#image-content{
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.photo{
    width: 60vw;
    height: 35vh;
}

#footer-text{
    line-height: 0ch;
    padding: 0;
}

#footer-tittle{
    font-size: 1.6em;
    font-weight: bold;
    font-family: sans-serif;
    
}

#footer-content{
    font-weight: 100;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px ;
}

#phone{
    color: white;
    padding: 10px;
}

#mail{
    color: white;
    padding: 10px;
}

#arrow{
    float: right;
    color: #ffffff;
    margin: 5px;
}

#footer-desc{
    text-align: center;
    padding: 10px;
}
#about-contact{
    font-size: 2em;
    text-transform: capitalize;
    border: 1px solid #fff;
    font-family: sans-serif;
    background-color: aqua;
}

#contact-link{
    border: 1px solid #fff;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

#Contact-text{
    padding: 5px;
    margin: 6px;
}

#Email{
    padding: 5px;
    margin: 6px;
    color: lightcoral;
}
#arrow{
    background: #000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    position: relative;
}

.nav-links{
    display: none;
    list-style: none;
}

#nav-links-target:target .nav-links{
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}

.nav-links:target ~ .nav-links{
    transform:translate3d(-50%,0,0);
}

.nav-links:target + .nav-links{
    transform:translate3d(50%,0,0); 
}

.nav-links li{
    margin-left: 10px;
 }

.Hamburger-icon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    opacity: 0.7;
}

.Hamburger-icon:hover{
    display: block;
}

.Hamburger-icon:active{
    display: none;
}

.Hamburger-icon:is-active + .nav-links{
    display: none;
}

.line1, .line2, line3{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.linner-element{
    margin-top: 10px;
}

@media(min-width:640px){
    #hero-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 60vh;
    }
    
    #left-hero{
        width: 60%;
        height: 100%;
        /* object-fit: fill; */
        border-radius: 10px;
    
    #right-hero{
        width: 50%;
        height: 100%;
    }
}

/* @media(min-width:600px){
    #nav{
        display: flex;
    }
} */

@media(max-width:768ppx){
    .nav-links{
        display: none;
        /* flex-direction: column; */
    }

    .nav-links li{
        margin: 10px 0;
    }

    .Hamburger-icon{
        display: flex;
    }
}

@media(max-width:400px){
    #head-content{
        display: flex;
        justify-content: space-between;
        /* padding: 20px; */
        height: 10vh;
        width: 100%;
        align-items: center;
    }
    }
